@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto:400,700');

h1 {
  font-family: 'Roboto', sans-serif;
  color:#639B3B;
  font-weight:700;
  font-size:90px;
}
h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  color:#878686;
}
img {
  height:425px;
  width:425px;
}
.list-group-item {
  color:#639B3B;
}
